.navbar {
    border-radius: 0px;
    height: 50px;
    position: fixed;
    /* Set the navbar to fixed position */
    top: 0;
    /* Position the navbar at the top of the page */
    width: 100%;
    /* Full width */
    z-index: 99;
}

.navbar-nav a {
    font-size: large;
}

button {
    font-size: larger;
}