<!--======================================================================-->
<!--===============================header================================= -->
<!--======================================================================-->
<app-navbar-vitrine></app-navbar-vitrine>

<!--======================================================================-->
<!--===============================Body = a propos de nous=============== -->
<!--======================================================================-->
<div style="background:crimson;">
<div class="media">
    <div class="media-left">
      <a href="#">
        <img class="rounded-circle" width="120" height="120" src="assets/images/logo.jpg">
      </a>
    </div>
    <div class="media-body"> <br/>
      <h4 class="media-heading" style ="color: black; font-weight: bold;">INTI IMMOBILIER : L'IMMOBILIER GARANTI</h4>
    </div>
  </div>
<br/>
 <div class="jumbotron" style="text-align: center;">
<div class="btn-group" role="group" >
    <button class="rounded-circle" type="button" class="btn btn-danger">Acheter</button>
    <button type="button" class="btn btn-danger" style="margin-left: 100px;">Vendre</button>
    <button type="button" class="btn btn-danger" style="margin-left: 100px;">Louer</button>
  </div>
</div> 

<br/>
<br/>


  <div class="col-sm-4 col-md-5" style="margin-top: 100px;">
      <div class="caption">
        <h3 style="text-decoration: black; font-weight: 800; text-align: center;">INTI IMMOBILIER EN FRANCE</h3>
        <p style="text-align: justify">Vous avez un projet immobilier ? Vous souhaitez vendre, acheter, louer, investir ou faire gérer un bien ? 
            Pour que cette transaction se déroule dans les meilleures conditions,
             il vous faut choisir l’agence immobilière qui saura vous accompagner,
              vous conseiller et répondre à votre besoin. Le réseau Guy Hoquet, 
              3ème réseau d’agences immobilières franchisées en France, fort de son concept d’immobilier garanti propose 
            des solutions qui vous permettront de réaliser votre projet en toute sérénité.</p>
    </div>
  </div>

  <div style="margin-left: 5px; margin-bottom: 160px; margin-top: 200px;" >
    <div class="col-sm-4 col-md-5">
          <img src="assets/images/agence.jpg" width="600" height="500" style="float: initial;">
          <div class="caption">
            <h3 style="font-weight: bold; text-decoration: black;">L’agence immobilière de tous vos projets !</h3>
            <p style="text-align: justify;">
              Rendez-vous dans notre agence INTI Immobilier pour discuter et échanger sur votre projet. 
              Notre équipe d’experts se tient à votre disposition pour répondre à tous vos besoins immobiliers. 
              Que vous souhaitiez vendre, 
              acheter, louer, investir ou faire gérer, nous sommes formés pour vous accompagner. Retrouvez-nous en agence !</p>
        </div>
      </div>
  </div>

    <div class="col-sm-4 col-md-5">
      <div class="thumbnail">
        <div class="caption">
          <h3 style="text-decoration: black; font-weight: 800; text-align: center;">INTI IMMOBILIER EN FRANCE</h3>
          <p style="text-align: justify"><span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>:95 Avenue Pierre Grenier</p>
          <p style="text-align: justify">92100 Boulogne-Billancourt</p>
          <p style="text-align: justify"><span class=" glyphicon glyphicon-envelope " aria-hidden="true"></span>:boulognesud@guyhoquet.com </p>
          <div class="list-group">
            <a href="#" class="list-group-item disabled">
             <p style="text-align: center;">Lundi  >   9h30  -  19h</p> 
            </a>
            <a href="#" class="list-group-item"><p style="text-align: center;">Mardi  >   9h30  -  19h</p></a>
            <a href="#" class="list-group-item disabled">
                <p style="text-align: center;">Lundi  >   9h30  -  19h</p> 
               </a>
               <a href="#" class="list-group-item"><p style="text-align: center;">Mardi  >   9h30  -  19h</p></a>
               <a href="#" class="list-group-item disabled">
                <p style="text-align: center;">Mercredi  >   9h30  -  19h</p> 
               </a>
               <a href="#" class="list-group-item"><p style="text-align: center;">Jeudi  >   9h30  -  19h</p></a>
               <a href="#" class="list-group-item disabled">
                <p style="text-align: center;">Vendredi  >   9h30  -  19h</p> 
               </a>
               <a href="#" class="list-group-item"><p style="text-align: center;">Samedi >   9h30  -  18h</p></a>
               <a href="#" class="list-group-item disabled">
                <p style="text-align: center;">Dimanche  >   Fermé</p> 
               </a>
               <br/>
               <button type="button" class="btn btn-primary">0145352060</button>
          </div>
        </div>
      </div>

      <br/>

                
 <!--======================================================================-->
<!--=============================== FOOTER================================ -->
<!--======================================================================-->


    <div style="text-align: justify;">
        <div class="col-xs-6 col-md-3">
            <img class="rounded-circle" width="120" height="120" src="assets/images/logo_prix.jpg">
            <div class="caption">
                <h3 style="font-weight: bold; text-decoration: black;">Prix de vente garanti</h3>
                <p style="text-align: justify;">
                    Vendez en toute sécurité avec la garantie du prix de vente défini 
                    par votre conseiller.</p>
              </div>
        </div>
      </div>

      <div style="text-align: justify;">
        <div class="col-xs-6 col-md-3">
            <img class="rounded-circle" width="120" height="120" src="assets/images/delai_vente.jpg">
            <div class="caption">
                <h3 style="font-weight: bold; text-decoration: black;">Délai de vente <span>garanti</span> </h3>
                <p style="text-align: start;"> 
                    N'attendez pas pour vendre votre bien, INTI Immobilier s'engage sur les délais.</p>
              </div>
        </div>
      </div>

      <div style="text-align: justify;">
        <div class="col-xs-6 col-md-3">
            <img class="rounded-circle" width="120" height="120" src="assets/images/protec_vente.jpg">
            <div class="caption">
                <h3 style="font-weight: bold; text-decoration: black;">Protection de vente garantie.</h3>
                <p style="text-align: justify;">
                    Obtenez une estimation au plus près du prix du marché grâce à notre outil unique.</p>
              </div>
        </div>
      </div>

      <br/>
      <div style="text-align:center; margin-top: 900px;"></div>
    <footer class="container">
        <p class="float-right" style="text-align: center;"><a href="#">Notre site : http://localhost:4200/</a></p>
        <p style="text-align: center;">&copy; 2019-2020 Company, Inc. ;
            <a href="#"></a>
            <a href="#"></a>
        </p>
    </footer>
</div>

</div>