<app-navbar-conseiller></app-navbar-conseiller>
<div class="panel panel-primary" *ngFor="let prop of listeProprietaire">

    <!--////////////////// HEADER DU PANNEAU ////////////////////-->
    <div class="panel-heading">
        <h3 class="panel-title">{{prop.nom}}</h3>
    </div>
    <!--end div header-->

    <div class="panel-body">
        <div class="col-xs-10">
            <div class="row vertical-align">

                <div class="col-xs-8">
                    <!--detail-->
                    <div class="row">

                        <div class="col-xs-6">
                            Téléphone personnel :
                        </div>
                        <div class="col-xs-6">
                            {{prop.telephonePerso}}
                        </div>
                        <div class="col-xs-6">
                            Téléphone professionel :
                        </div>
                        <div class="col-xs-6">
                            {{prop.telephonePro}}
                        </div>
                        <div class="col-xs-6">
                            Adresse :
                        </div>
                        <div class="col-xs-6">
                            {{prop.adresse.rue}} {{prop.adresse.codePostal}} {{prop.adresse.localite}}
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <!--end body-->
    <!--////////////////// FOOTER DU PANNEAU ////////////////////-->
    <div class="panel-footer">

        <!--+++++++ bouton pour éditer +++++++-->
        <button class="btn btn-warning" (click)="editProprietaire(prop.id)">
            Modifier
        </button> |
        <!--+++++++ bouton pour supprimer +++++++-->
        <button class="btn btn-danger" (click)="deleteProprietaire(prop)">
            Supprimer
        </button>

    </div>
    <!--end div footer-->


</div>
<button class="btn btn-primary" (click)="editProprietaire(0)">
    Ajouter
</button>
<!--======================================================================-->
<!--=============================== FOOTER================================ -->
<!--======================================================================-->
<app-footer></app-footer>