<app-navbar-vitrine></app-navbar-vitrine>


<div class="container">
    <div style="text-align: center;">
        <h1>Liste des bien immobiliers</h1>

        <br>
        <div style="width: 400px; border-radius: 5px; border:1px solid lightgray;margin: 0 auto;">
            <form #filtreForm="ngForm" (ngSubmit)="getAllBienImmobiliers()">
                <table>
                    <tr>

                        <td><input type="checkbox" name="location" [(ngModel)]="filtres.location"> Locations</td>
                        <td><input type="checkbox" name="commerciale" [(ngModel)]="filtres.commercial"> Locaux commerciaux </td>
                        <td><input type="checkbox" name="disponible" [(ngModel)]="filtres.disponible"> Disponibles</td>
                    </tr>
                    <tr>
                        <td><input type="checkbox" name="vente" [(ngModel)]="filtres.vente"> Ventes</td>
                        <td><input type="checkbox" name="habitation" [(ngModel)]="filtres.habitation"> Habitations </td>
                        <td><input type="checkbox" name="indisponible" [(ngModel)]="filtres.indisponible"> Indisponibles</td>
                    </tr>
                    <tr>
                        <td colspan="3" style="text-align: center;"><input type="submit" class="btn btn-default" value="Chercher"></td>
                    </tr>

                </table>
            </form>
        </div>
    </div>

    <br/>
    <div class="panel panel-primary" *ngFor="let bien of listeBienImmobiliers">
        <a href="affichageBienVitrine/{{bien.idBien}}">
            <div class="panel-body">
                <div class="col-xs-10">
                    <div class="row vertical-align">
                        <div class="divImg col-xs-4">
                            <img class="imageClass" [src]="bien.photo">
                        </div>
                        <div class="col-xs-8">
                            <div class="info">
                                <!--detail-->
                                <div class="row">
                                    <div class="titre col-xs-4">
                                        Type de bien
                                    </div>
                                    <div class="info col-xs-8">
                                        {{bien.typeBien}}
                                    </div>
                                    <div class="titre col-xs-4">
                                        Pour une utilisation
                                    </div>
                                    <div class="info col-xs-8"> {{bien.utilisation}}</div>
                                    <div class="titre col-xs-4">
                                        Superficie
                                    </div>
                                    <div class="info col-xs-8" *ngIf="bien.typeBien=='maison'"> {{bien.superficie}} chambre(s)</div>
                                    <div class="info col-xs-8" *ngIf="bien.typeBien=='studio' || bien.typeBien=='bureau'">{{bien.superficie}} pièce(s)</div>
                                    <div class="info col-xs-8" *ngIf="bien.typeBien=='terrain'">{{bien.superficie}} ares</div>
                                    <div class="info col-xs-8" *ngIf="bien.typeBien=='entrepot'">{{bien.superficie}} m2</div>

                                    <div class="titre col-xs-4">
                                        Adresse
                                    </div>
                                    <div class="info col-xs-8"> {{bien.adresse.rue}} {{bien.adresse.codePostal}} {{bien.adresse.localite}}</div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </a>
        <!--end body-->
    </div>

</div>

<!--======================================================================-->
<!--=============================== FOOTER================================ -->
<!--======================================================================-->
<app-footer></app-footer>