<!--/////////////////:Config du routage :///////////////////-->
<!--Ici Angular va insérer les composants associer a des routes-->

<router-outlet></router-outlet>


<!--Injection du composant HomeComponent-->
<!--<div class="m-t-1">
  <app-home></app-home>
  </div>-->

<!--Injection du composant info-vente-locationComponent-->
<!--<div class="m-t-1">
    <app-info-vente-location></app-info-vente-location>
</div>-->

<!--Injection du composant info-contactComponent-->
<!--<div class="m-t-1">
  <app-infos-contact></app-infos-contact>
</div>-->

<!--Injection du composant auboutUsComponent-->
<!--<div class="m-t-1">
  <app-about-us></app-about-us>
</div>-->

