<!--======================================================================-->
<!--===============================header================================= -->
<!--======================================================================-->
<app-navbar-vitrine></app-navbar-vitrine>
<!--======================================================================-->
<!--===============================Body = Carousel======================== -->
<!--======================================================================-->
<!--<div class="jumbotron" style="width: 100%;">
<div class="container" style="width: 100%;">-->

<carousel class="text-center" style="width: 100%; height: 500px;">
    <slide>
        <img class="img-main-carousel " src="assets/images/maison1.jpg" alt="first slide" style="display: block; width: 100%;">
        <div class="carousel-caption d-none d-md-block">
            <h3>Maison Moderne</h3>
            <p>Sublime villa meublée à retrouver sur notre site !</p>
        </div>
    </slide>
    <slide>
        <img class="img-main-carousel" src="assets/images/appart1.jpg" alt="second slide" style="display: block; width: 100%;">
        <div class="carousel-caption d-none d-md-block">
            <h3>Appartement Cosy</h3>
            <p>Petit nid douillet de 4 pièces, à retrouver sur notre site !</p>
        </div>
    </slide>
    <slide>
        <img class="img-main-carousel" src="assets/images/studio1.jpg" alt="third slide" style="display: block; width: 100%;">
        <div class="carousel-caption d-none d-md-block">
            <h3>Studio Lumineux</h3>
            <p>Studio particulièrement fonctionnel, à retrouver sur notre site !</p>
        </div>
    </slide>
</carousel>
<!--</div>
</div>-->

<br/><br/>

<div style="margin-right:10%; margin-left:10%;">
    <h1>Bienvenu chez INTI Immobilier</h1>
</div>

<br/><br/>
<!--Boutons-->
<div style="text-align: center;">
    <a class="btn btn-default btn-lg" href="listeBienImmobiliers">Je cherche une propriété à louer ou à acheter</a>
    <a class="btn btn-default btn-lg" href="infoLocationVente" style="margin-left: 10px;">Je souhaite louer ou vendre une propriétée.</a>
</div>


<br/><br/><br/>

<div class="container-conseillers">
    <h3>Nos conseillers sont à votre écoute :</h3>
    <br/>
    <!--Photo des conseiller-->
    <div class="row" style="margin-right: auto; text-align: center;">
        <div class="col-lg-4">
            <img class="rounded-circle" src="assets/images/conseiller1.jpg" alt="Generic placeholder image" width="140" height="140" style="text-align: center;">
            <h2>David Savard</h2>
            <p style="font-size: large;">Conseiller dans l'immobilier depuis 5 ans, à l'écoute et prêt à satisfaire vos besoins, vous pouvez me contacter via notre site.</p>
        </div>
        <!-- /.col-lg-4 -->
        <div class="col-lg-4">
            <img class="rounded-circle" src="assets/images/conseiller2.jpg" alt="Generic placeholder image" width="140" height="140">
            <h2>Émilie St-Pierre</h2>
            <p style="font-size: large;">Conseillère spécialisée dans la vente de maisons d'architectes, je suis disponible et à l'écoute, vous pouvez me contacter via notre site.</p>
        </div>
        <!-- /.col-lg-4 -->
        <div class="col-lg-4">
            <img class="rounded-circle" src="assets/images/conseiller3.jpg" alt="Generic placeholder image" width="140" height="140">
            <h2>Agathe Bourgouin</h2>
            <p style="font-size: large;">Conseillère dans l'immobilier depuis 4 ans, spécialisée dans la construction, vous pouvez me contacter via notre site.</p>
        </div>
        <!-- /.col-lg-4 -->
    </div>
</div>

<!--======================================================================-->
<!--=============================== FOOTER================================ -->
<!--======================================================================-->
<app-footer></app-footer>